*.DS_Store
*.o
*.log
*.cache
*~
confdefs.h
conftest*
*.status
htconfig.h
Makefile
stamp-h*
cobrun/tcrunversion.h
compiler/htcobolrc
compiler/htversion.h
info/slackware/SlackBuild
lib/htcobolrt.rc
libtool
test.code/mconfig.inc
test_suite/coboltest.inc
test_suite/nist/makeConfig.inc
lex.yy.c
info/htcobol.html
info/htcobol.txt
info/htcobrun.html
info/htcobrun.txt
