*.DS_Store
*.o
*.la
*.lo
*.log
*.Plo
*.cache
*.dirstamp
*~
confdefs.h
conftest*
*.status
htconfig.h
Makefile
Makefile*orig
stamp-h*
cobrun/tcrunversion.h
compiler/htcobolrc
compiler/htversion.h
info/slackware/SlackBuild
lib/htcobolrt.rc
libltdl/.libs/*
libltdl/config.h
libtool
test.code/mconfig.inc
test_suite/coboltest.inc
test_suite/nist/makeConfig.inc
lex.yy.c
info/htcobol.html
info/htcobol.txt
info/htcobrun.html
info/htcobrun.txt
